@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #7f98b2;
}

body {
  background-color: transparent;
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
  background: transparent url(./gdp.png) no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.navbar {
  background: #F2F2f2;
  padding: 1em;
  
}

.navbar .home {
  text-decoration: none;
  font-weight: bold;
  color: rgb(46, 150, 145);
  font-size: 1.2em;
}

.navbar nav li.current a {
  font-weight: bold;
}

.navbar .home span {
  color: var(--primary-color);
}
.icon{
  width: 12%;
  height: 70%;
  
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  
}

.navbar .tut-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.begin {
  text-align: center;

}

.begin-a .watch{
  font-weight: bold;
  font-size: x-large;
  color:forestgreen

}

.check{
  padding-top: 8%;
  padding-left: 2%;
}
.check .para {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: .3em;
  font-weight: bold;
}

.check h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
  color: rgb(189, 58, 58);
}

.check .first {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.check .watch {
  display: block;
  margin-top: 1em;
}

.img {
  width: 100%;
  margin-top: 5em;
}

section.features-section {
  border-color:#20272E;
  border-radius: 2;
  background-color: transparent;
  background: #f2f2f2;
  color: #20272E;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./bullet.svg);
  background-size: contain;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimony-section li {
  background: #7f98b2;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimony-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #7f98b2;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}
.mission-section{
  
border-color:#20272E;
border-radius: 2;
background-color: transparent;
background: #f2f2f2;
text-align: center;
color: #20272E; 
font-size: 1.2em;
}

.mission-section .container .mission p{
  color: rgb(7, 50, 7); 
}

.contact-section{
  color:rgb(189, 58, 58);
  font-weight: bold;
}

.contact-section .contact-first{
  color:rgb(189, 58, 58);
  font-weight: bold;
}


label {
  display: block;
  color:rgb(189, 58, 58);
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.send-message{
  font-weight: bold;
  font-size: 1.3em;
  color:rgb(189, 58, 58);
  font-weight: bold;
  border: none;
  background-color: solid #7f98b2;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.first-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.tut-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}
.cont{
  background-color: #f7f7f7;
}
.read-more{
  font-size: 30px;
  word-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color:forestgreen
}
.read-m p{
  padding: 2%;
}
.iframe-c{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-c iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 768px) {
  .tut-menu, .tut-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.first-nav {
    margin: 0;
  }
  .navbar nav li.style a {
    font-weight: bold;
  }

}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
 
  section {
    padding: 10em 4em;
  }
  .begin .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  
  .begin .container .check h1 {
    font-size: 3em;
    width: 90%;
  }
  .img {
    width: 30%;
    margin-right: 8em;
  }
  .begin-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first {
    margin-right: 1em;
  }
  
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimony-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimony-section ul li {
    margin: 0 1em;
  }
  
  .contact-section h2{
    color:rgb(189, 58, 58);
  }

  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .contact-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-area iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  
.mission-section{
  
  width: 100%;
  height: min-content;
  padding: 5em 4em;
  border-color:#20272E;
  border-radius: 2;
  background-color: transparent;
  background: #f2f2f2;
  text-align: center;
  color: #20272E; 
  font-size: 1.2em;
  }
 

  .mission-section .container .mission p{
    color: rgb(7, 50, 7); 
  }
}
@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    left: 4.5em;
    top: 2em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7f7ff;
  font-family: Arial, Helvetica, sans-serif;
}

