@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #7f98b2;
}


body {
  background-color: transparent;
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
  background: transparent url(blog.png) no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.contain{
  width:100%;
  min-height: 100vh;
  background-color: #f7f7f7;

}
.contain .head{
width:85%;
margin:auto;

}
.content-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content-section .art{
  flex:1;
  margin:40px 20px;
}
.content-section .art img{
  width:100%;
  height: auto;
}
.content-section .art h4{
 margin-top:20px;
}
.content-section .art p{
  font-size: 15px;
  color:#3d3d3d;
  line-height: 1.5;
  margin-top:10px;
 }
.heading-section{
  width:60%;
  text-align:center;
  margin:auto;

}

.contain .head .heading-section h1{
 padding-top: 30px;
 font-size: 42px;

}
.contain .head .heading-section span{
color:#ff0000;
 
 }
.contain .head .heading-section p{
 margin-top: 15px;
 color:#3d3d3d;
 font-size: 17px;
 line-height: 1.5rem;
 
 }
/* 
 */
.navbar {
  background: #F2F2f2;
  padding: 1em;
  
}

.navbar .home {
  text-decoration: none;
  font-weight: bold;
  color: rgb(46, 150, 145);
  font-size: 1.2em;
}

.navbar .home span {
  color: var(--primary-color);
}
.icon{
  width: 12%;
  height: 70%;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  
}

.navbar .tut-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

h2 {
  font-size: 2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.first-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.tut-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}
.image img{
 border-radius: 5%;
 width: 60%;
 height: auto;
}


h1{
color:#7ea7b0;
  font-size :3rem;
  font-weight: 700;
  letter-spacing:8px;
  margin-bottom:1rem;
}


p{
    font-size: 30px;
    color:rgb(225, 227, 219);
    height:20px solid #fff;
    padding: 20PX;
    margin: 20px auto;
    max-width: 700px;
    margin-bottom: 20px;
  }
  h2{
      font-size: 2px;
      color:rgb(120, 138, 129);
      font-size: 4rem;
      font-weight: 400;
    }
  h4{
      font-size: 2px;
      color:rgb(16, 118, 18);
      font-size: 2rem;
      font-weight: 200;
  }
  
  @media only screen and (min-width: 768px) {
    .tut-menu, .tut-menu-exit {
      display: none;
    }
    .navbar .container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 180px auto;
          grid-template-columns: 180px auto;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
    }
    .navbar nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: .1em 1em;
    }
    .navbar nav ul.first-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
  }
  @media only screen and (min-width: 1450px) {
    .features-section:before {
      content: '';
      position: absolute;
      width: 10%;
      height: 20em;
      background: var(--primary-color);
      left: 0;
      top: -4em;
    }
    .features-section:after {
      content: '';
      position: absolute;
      width: 200px;
      height: 20em;
      background: url("../images/dots.svg") no-repeat;
      left: 4.5em;
      top: 2em;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #d7f7ff;
    font-family: Arial, Helvetica, sans-serif;
  }
